$primary-color: #4e4637;
$primary-light: #4e463780;
$color1: #b4aa99;
$color2: #7B7B75;
$color3: #C1DEFF;
$color4: #ffffff;
$color-start: #c1deff;
$color-end: #ffeccb;


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

@mixin gradient($start, $end) {
background: linear-gradient(to bottom right, $start, $end);
}
body{
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    @include gradient($color-start, $color-end);
    background-repeat: no-repeat;
    height: 100%;
    color: $primary-color;
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 2em 0em 1.5em 0em;
    text-align: center;
    color:$primary-color;
}
.summary {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color4;
    margin: 1.2em 4em;
    padding: 1.2em;
    border-radius: 2em;
    box-shadow: 0 0.2em 0.8em $color2;
    text-align: center;
    font-size: 1.2em;
    transition: transform 0.3s ease;

}



.container {
    margin: 1.5em 2em;
}
.input-fields {
    display: flex;
    justify-content: space-evenly;
    gap: 0.7em;
    margin: 1.2em 1em;
    background-color: $primary-light;
    color: white;

    h3 {
        font-size: 1.5em;
    }

    input {
        border: none;
        border-radius: 0.3em;
        padding: 0.3em;
        font-size: 1em;
    }

    button {
        border: 0.1em solid $primary-color;
        background-color: $primary-light;
        color: white;
        font-size: 0.8em;
        border-radius: 0.8em;
        padding: 0.5em;
        cursor: pointer;
    }
    button:active {
        transform: translate(0, 0.1em);
    }
}
.wrapped-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    }

footer {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin: 0.8em;
}









// ----RESPONSIVE DESIGNS--

@media (min-width: 425px) {
    section {
        margin: 1.2em 2em;
        padding: 1.5em;
    }
}



@media (min-width: 768px) {
    h1 {
        font-size: 2em;
        margin: 2.5em 0em 2em 0em;
    }

    .summary {
        gap: 0.5em;
        font-size: 1.1em;
    }

    section {
        margin: 1.5em 4em;
        padding: 2em;
        border-radius: 2.5em;
    }

    .container {
        margin: 2em 3em;
    }

    .input-fields {
        gap: 1.5em;
        margin: 1.5em 1em;
        padding: 1.5em;

        h3 {
            font-size: 1.5em;
        }

        input {
            padding: 0.6em;
        }

        button {
            font-size: 1em;
            padding: 0.7em 1.5em;
        }
    }

    .wrapped-title {
        gap: 1.5em;
        font-size: 1.1em;
    }
}



@media (min-width: 1024px) and (max-width: 2000px) {
    h1 {
        font-size: 2.5em;
    }

    .summary {
        gap: 0.6em;
        font-size: 1.2em;
    }

    section {
        margin: 2em 15em;
        padding: 2.5em;
    }

    .container {
        margin: 2.5em 4em;
    }

    .input-fields {
        gap: 2em;
        margin: 2em 13em;
        padding: 2em;

        h3 {
            font-size: 1.7em;
        }

        input {
            padding: 0.7em;
            font-size: 1.1em;
        }

        button {
            font-size: 1.1em;
            padding: 0.8em 2em;
        }
    }

    .wrapped-title {
        gap: 0.6em;
        font-size: 1.2em;
    }
}
